@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
h1 {
  font-weight: 700;
  font-family: "Amatic SC",sans-serif;
  font-size: 48px
 }

h2 {
   color: red;
   font-style: italic;
   font-weight: 400;
   font-family: "Amatic SC", sans-serif;
   color: maroon
 }

 p {
   font-weight: 300;
   font-family: "Raleway", sans-serif;
   color: navy;
   font-size: 20px
 }

 ul {
   font-weight: 300;
   font-family: "Raleway", sans-serif;
 }

 ol {
   font-weight: 300;
   font-family: "Raleway", sans-serif;
  }
